// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$gray-lighter: #f1f1f1;
$gray-light: #d8d8d8;
$gray-mid: #afafaf;
$gray-dark: #3c3c3c;
$gray-darker: #1b1b1b;
$off-white: #f4f4f4;
$purple: #4b39ff;
$green: #1dbe3b;
$red: #ff3961;
$blue: #4b39ff;

// Ubuntu Colors
$ubuntu-purple: #7d1f4d;
$ubuntu-purple-lighter: #a7519f;
$ubuntu-purple-light: #77216f;
$ubuntu-purple-mid: #5e2750;
$ubuntu-purple-dark: #2c001e;
$ubuntu-orange: #e95420;

// Container Sizes
$container-large: 1600px;

// Bootstrap colors
$primary: $ubuntu-purple-light;
$secondary: $purple;
