---
// Import images
import workingIconImg from "@assets/img/feature-matrix/working.svg";
import partialIconImg from "@assets/img/feature-matrix/partial.svg";
import notWorkingIconImg from "@assets/img/feature-matrix/not-working.svg";
import untestedIconImg from "@assets/img/feature-matrix/untested.svg";

// Import data
import progressStages from "@data/progressStages.json";

const { supportIndicators, progressStage, lastActivity } = Astro.props;
---

<!-- Docs -->
<div id="supportStatus" class="scrollspy row no-gutters mt-5">
  <div class="col-md-12 col-lg-5 related d-print-none">
    <h2 class="title bold mb-3">Support status</h2>
    <p>
      The following ratings are indicators of the expected support for this
      port.
    </p>
    <ul class="ps-4 pt-3 support-map">
      <li class="mb-2">
        <span>Compatibility rating:</span>
        {
          [...progressStages, 6].map((stage, index) => (
            <span
              class={
                (index <= progressStage.number ||
                supportIndicators.optionalFunctions
                  ? "text-highlight "
                  : "") + "star-scale m-1"
              }
              set:text={"★"}
            />
          ))
        }
      </li>
      <li>
        {
          supportIndicators.installer ? (
            <>
              <img src={workingIconImg} class="d-inline" />
              <p class="d-inline">Easy install with UBports installer</p>
            </>
          ) : (
            <>
              <img src={notWorkingIconImg} class="d-inline" />
              <p class="d-inline">Only manual installation is available</p>
            </>
          )
        }
      </li>
      <li>
        {
          supportIndicators.maintainership ? (
            supportIndicators.phoneMakerSupport ? (
              <>
                <img src={workingIconImg} class="d-inline" />
                <p class="d-inline">Phone maker supports the device</p>
              </>
            ) : (
              <>
                <img src={workingIconImg} class="d-inline" />
                <p class="d-inline">Has a maintainer</p>
              </>
            )
          ) : (
            <>
              <img src={notWorkingIconImg} class="d-inline" />
              <p class="d-inline">Device is unmaintained</p>
            </>
          )
        }
      </li>
      <li>
        {
          supportIndicators.activeness ? (
            <>
              <img src={workingIconImg} class="d-inline" />
              <p class="d-inline">Actively receiving commits from porters</p>
            </>
          ) : supportIndicators.activeness === null ? (
            <>
              <img src={untestedIconImg} class="d-inline dark-invert" />
              <p class="d-inline">No data about activity</p>
            </>
          ) : (
            <>
              <img src={notWorkingIconImg} class="d-inline" />
              <p class="d-inline">Inactive for a long time</p>
            </>
          )
        }
        {
          !!lastActivity && (
            <p class="ps-4">
              &rarr; Last commit on {lastActivity.toLocaleDateString()}
            </p>
          )
        }
      </li>
      <li>
        {
          supportIndicators.releaseChannels ? (
            supportIndicators.stableReleaseChannel ? (
              <>
                <img src={workingIconImg} class="d-inline" />
                <p class="d-inline">Has a stable release channel</p>
              </>
            ) : (
              <>
                <img src={partialIconImg} class="d-inline dark-invert" />
                <p class="d-inline">Has release channels for updates</p>
              </>
            )
          ) : (
            <>
              <img src={notWorkingIconImg} class="d-inline" />
              <p class="d-inline">Update channels are unavailable</p>
            </>
          )
        }
      </li>
      <li>
        {
          supportIndicators.sourcesProvided ? (
            supportIndicators.ubportsHostedRepository ? (
              <>
                <img src={workingIconImg} class="d-inline" />
                <p class="d-inline">Repositories are hosted by UBports</p>
              </>
            ) : (
              <>
                <img src={partialIconImg} class="d-inline dark-invert" />
                <p class="d-inline">Sources are hosted by porters</p>
              </>
            )
          ) : (
            <>
              <img src={notWorkingIconImg} class="d-inline" />
              <p class="d-inline">Sources were not provided</p>
            </>
          )
        }
      </li>
      <li>
        {
          supportIndicators.upToDateRelase ? (
            <>
              <img src={workingIconImg} class="d-inline" />
              <p class="d-inline">This is the latest Ubuntu Touch release</p>
            </>
          ) : (
            <>
              <img src={notWorkingIconImg} class="d-inline" />
              <p class="d-inline">This is an outdated Ubuntu Touch release</p>
            </>
          )
        }
      </li>
    </ul>
  </div>
</div>
